<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>Student Name</title>

</head>
<body>

<!--<form th:action="@{/process}" method="GET">-->
<!--    <input type="text" name="studentname" placeholder="type your name" />-->
<!--    <input type="submit"/>-->

<!--</form>-->

<form th:action="@{/Processthedata}" method="GET">
    <input type="text" name="studentname" placeholder="type your name" />
    <input type="submit"/>

</form>

</body>
</html>